Repository HSF/hsf.github.io, pull requests merged in 2024-09, with the labels that each got.

#1582 Activities menu and HSF Seminars
  _activities-archive/analysisfacilitiesforum.md
  _activities-archive/conditionsdb.md
  _activities-archive/differentiablecomputing.md
  _activities-archive/frameworks.md
  _activities-archive/visualization.md
  _activities/dataanalysis.md
  _activities/detsim.md
  _activities/generators.md
  _activities/juliahep.md
  _activities/pyhep.md
  _activities/recotrigger.md
  _activities/toolsandpackaging.md
  _activities/training.md
  _config.yml
  _includes/navbar.ext
  _layouts/main.html
  _meetings/hsf-seminars.md
  activity-coordination.md
  announcements/_posts/2024/2024-10-01-JuliaSeminar.md
  howto-website.md
  images/HSF-logo/hsf-logo-seminar.svg
  what_are_activities.md
Labels: Documentation

#1586 Minutes of coordination meeting Sep. 12 2024
  organization/_posts/2024/2024-09-12-coordination.md
Labels: Coordination meeting

#1590 Steering group minutes, 2024-09-23
  organization/_posts/2024/2024-09-24-steering.md
Labels: Steering Group meeting
