Repository HSF/hsf.github.io, pull requests merged in 2024-11, with the labels that each got.

#1612 Add blog post on CUDA kernels autodiff
  _gsocblogs/2024/blog_CUDA_kernels_autodiff.md
  images/blog_authors/ChristinaKoutsou.jpg
  images/others/atomic-add.png
  images/others/kernel-to-device-grad.png
Labels: GSoC

#1614 Meeting minutes 2024-11-07
  organization/_posts/2024/2024-11-07-coordination.md
Labels: Coordination meeting

#1615 Add DESY IT Seminar to list of presentations
  organization/presentations.md
Labels: Documentation

#1616 Steering group minutes 19 November 2024
  organization/_posts/2024/2024-11-19-steering.md
Labels: Steering Group meeting

#1621 Coordination meeting minutes 2024-11-21
  organization/_posts/2024/2024-11-21-coordination.md
Labels: Coordination meeting
