Repository HSF/hsf.github.io, pull requests merged in 2025-04, with the labels that each got.

#1724 Update of HSF presentations
  organization/presentations.md
Labels: Documentation

#1726 Update SG membership
  organization/team.md
Labels: Steering Group

#1727 Steering Group minutes 2025-04-14
  organization/_posts/2025/2025-04-14-steering.md
Labels: Steering Group

#1730 add minutes of April 24th coordination meeting
  organization/_posts/2025/2025-04-10-coordination.md
  organization/_posts/2025/2025-04-24-coordination.md
Labels: Coordination meeting
