Repository HSF/hsf.github.io, pull requests merged in 2025-01, with the labels that each got.

#1613 More on renaming WG to Activity Area
  _activities-archive/analysisfacilitiesforum.md
  _activities/dataanalysis.md
  _activities/detsim.md
  _activities/generators.md
  _activities/juliahep.md
  _activities/licensing.md
  _activities/pyhep.md
  _activities/recotrigger.md
  _activities/toolsandpackaging.md
  _activities/training.md
  calendar.md
  forums.md
  get_involved.md
  howto-profile.md
  howto-website.md
  organization/team.md
  projects/affiliated.md
  services.md
Labels: Documentation

#1632 Steering group minutes 2025-01-13
  organization/_posts/2025/2025-01-13-steering.md
Labels: Steering Group meeting

#1633 Add two MCnet projects
  _gsocorgs/2025/ucl.md
  _gsocorgs/2025/uglasgow.md
  _gsocprojects/2025/project_MCnet.md
  _gsocproposals/2025/proposal_MCnetMCviz.md
  _gsocproposals/2025/proposal_MCnetOpenData.md
  gsoc/2024/mentors.md
  gsoc/2025/mentors.md
Labels: GSoC

#1635 add proposal for ROOT RNTuple GSoC project
  _gsocproposals/2025/proposal_RNTupleJsroot.md
  gsoc/2025/mentors.md
Labels: GSoC

#1634 Add Constellation project
  _gsocorgs/2025/cern.md
  _gsocorgs/2025/desy.md
  _gsocprojects/2025/project_Constellation.md
  _gsocprojects/2025/project_ROOT.md
  _gsocproposals/2025/proposal_ConstellationUI.md
  gsoc/2025/mentors.md
  images/Constellation-logo.png
Labels: GSoC

#1636 update gsoc admins for 2025
  _activities/gsoc.md
  gsoc/guideline.md
Labels: GSoC

#1645 Website instructions update
  _includes/navbar.ext
  _layouts/main.html
  get_involved.md
  howto-website.md
Labels: Documentation
