Repository HSF/hsf.github.io, pull requests merged in 2025-02, with the labels that each got.

#1652 Updated gsoc.md for a Typo
  _activities/gsoc.md
Labels: GSoC

#1649 Add the Compiler Research projects for GSoC
  _gsocorgs/2025/compres.md
  _gsocprojects/2025/project_Clad.md
  _gsocprojects/2025/project_Cppyy.md
  _gsocprojects/2025/project_Xeus-Cpp.md
Labels: GSoC

#1648 Update GSoC mentor list for Compiler-Research
  gsoc/2025/mentors.md
Labels: GSoC

#1658 GSoC25: Updated gsoc.md
  _activities/gsoc.md
Labels: GSoC

#1662 Julia HepMC3 project
  _gsocprojects/2025/project_JuliaHEP.md
  _gsocproposals/2025/proposal_JuliaHepMC3.md
  gsoc/2025/mentors.md
Labels: GSoC

#1663 Add initial compiler-research projects on InterOp and Clad
  _gsocproposals/2025/proposal_Clad-ImproveTape.md
  _gsocproposals/2025/proposal_CppInterop-API-ExposeMemory.md
Labels: GSoC

#1665 [gsoc25] Add Christina as a mentor for CompRes
  gsoc/2025/mentors.md
Labels: GSoC

#1667 [gsoc25] Add BioDynamo project and related proposal
  _gsocprojects/2025/project_BioDynamo.md
  _gsocproposals/2025/proposal_BioDynamo-CART.md
  images/BioDynamo-logo.png
Labels: GSoC

#1664 [gsoc25] Add clad projects for compiler research
  _gsocproposals/2025/proposal_Clad-PyTorch.md
  _gsocproposals/2025/proposal_Clad-STLConcurrency.md
  _gsocproposals/2025/proposal_Clad-ThrustAPI.md
  _gsocproposals/2025/proposal_CppInterop-API-ExposeMemory.md
Labels: GSoC

#1669 [gsoc25] Add Lukas as a mentor for BioDynamo
  gsoc/2025/mentors.md
Labels: GSoC

#1668 New GSoC project proposal: Highly Granular Quantization for CICADA
  _gsocorgs/2025/princeton.md
  _gsocprojects/2025/project_CICADA.md
  _gsocproposals/2025/proposal_HGQforCICADA.md
  images/cicada-logo.png
Labels: GSoC

#1672 Update gsoc project porposal
  _gsocproposals/2025/proposal_HGQforCICADA.md
Labels: GSoC

#1674 Fix typo in Clad proposal pseudocode
  _gsocproposals/2025/proposal_Clad-STLConcurrency.md
Labels: GSoC

#1675 Add GSoC'25 Geant4-FastSim project
  _gsocprojects/2025/project_Geant4.md
  _gsocproposals/2025/proposal_Geant4-fastsim_representation.md
  gsoc/2025/mentors.md
Labels: GSoC

#1676 Added Hyper link for geant4
  _gsocprojects/2025/project_Geant4.md
Labels: GSoC

#1666 Ganga projects for GSoC 2025
  .github/config/mdcheck.json
  _gsocorgs/2025/imperialcollege.md
  _gsocorgs/2025/monashuniversity.md
  _gsocprojects/2025/project_Ganga.md
  _gsocproposals/2025/proposal_GangaAIassistant.md
  _gsocproposals/2025/proposal_GangaDeprecation.md
Labels: GSoC

#1678 Add xeus-cpp GSoC projects
  _gsocproposals/2025/proposal_XeusCpp-Debugging.md
  _gsocproposals/2025/proposal_XeusCpp-Plugins.md
Labels: GSoC

#1677 Add Patatrack project proposal for GSoC 2025
  _gsocprojects/2025/project_Patatrack.md
  _gsocproposals/2025/proposal_CLUEsteringAutotuning.md
  gsoc/2025/mentors.md
Labels: GSoC

#1671 add Aaron to admins
  _activities/gsoc.md
Labels: GSoC

#1685 Add GSoC proposal for ATLAS lossy float compression study
  _gsocorgs/2025/anl.md
  _gsocprojects/2025/project_ATLAS.md
  _gsocproposals/2025/proposal_ATLAS_lossy_compression.md
  gsoc/2025/mentors.md
Labels: GSoC

#1686 Add CppInterOp as a compiler-research project and drop cppyy
  _gsocprojects/2025/project_CppInterOp.md
  _gsocprojects/2025/project_Cppyy.md
  _gsocproposals/2025/proposal_CppInterop-API-ExposeMemory.md
  images/InterOp-logo.png
Labels: GSoC

#1684 Baler 2025 GSoC Project
  .github/config/mdcheck.json
  _gsocorgs/2025/baler.md
  _gsocproposals/2025/proposal_BALER.md
  images/baler-logo.png
Labels: GSoC

#1683 Update the compiler research projects
  _gsocproposals/2025/proposal_Clad-PyTorch.md
  _gsocproposals/2025/proposal_Clad-ThrustAPI.md
  _gsocproposals/2025/proposal_IDD.md
  gsoc/2025/mentors.md
Labels: GSoC

#1681 Added project on green software by Uni Manchester / SMARTHEP
  _gsocorgs/2025/umanchester.md
  _gsocproposals/2025/proposal_SMARTHEP_GreenSoftware.md
  gsoc/2025/mentors.md
Labels: GSoC

#1692 Minor fixes to the xeus debugger project
  _gsocproposals/2025/proposal_XeusCpp-Debugging.md
Labels: GSoC

#1691 Add machine learning and OpenMP projects for Clad
  _gsocproposals/2025/proposal_Clad-LLM.md
  _gsocproposals/2025/proposal_Clad-ONNX.md
  _gsocproposals/2025/proposal_Clad-OpenMP.md
Labels: GSoC

#1694 Added BEAD proposal
  _gsocproposals/2025/proposal_SMARTHEP_BEAD.md
  gsoc/2025/mentors.md
Labels: GSoC

#1699 Coordination minutes 2025-02-13
  codespell.txt
  organization/_posts/2025/2025-02-13-coordination.md
Labels: Coordination meeting

#1670 gsoc25: add cvmfs proposal
  _gsocprojects/2025/project_CernVM-FS.md
  _gsocproposals/2025/proposal_CVMFS_DistributeModelFiles.md
Labels: GSoC

#1689 Some fixes to gsoc proposals
  _gsocproposals/2025/proposal_BALER.md
  _gsocproposals/2025/proposal_Baler-ProbabilisticCircuit.md
  _gsocproposals/2025/proposal_CLUEsteringAutotuning.md
  _gsocproposals/2025/proposal_HSFCondDB_AILogAnalysis.md
Labels: GSoC

#1690 gsoc: add sustainable quantum project (received by email)
  _gsocproposals/2025/proposal_SustainableQuantum.md
Labels: GSoC

#1700 Issue #1696: Add mentors to metadata, generate mentor list automatically
  .github/config/mdcheck.json
  _gsocproposals/2025/proposal_ATLAS_lossy_compression.md
  _gsocproposals/2025/proposal_BALER.md
  _gsocproposals/2025/proposal_Baler-ProbabilisticCircuit.md
  _gsocproposals/2025/proposal_BioDynamo-CART.md
  _gsocproposals/2025/proposal_CLUEsteringAutotuning.md
  _gsocproposals/2025/proposal_CVMFS_DistributeModelFiles.md
  _gsocproposals/2025/proposal_Clad-ImproveTape.md
  _gsocproposals/2025/proposal_Clad-LLM.md
  _gsocproposals/2025/proposal_Clad-ONNX.md
  _gsocproposals/2025/proposal_Clad-OpenMP.md
  _gsocproposals/2025/proposal_Clad-PyTorch.md
  _gsocproposals/2025/proposal_Clad-STLConcurrency.md
  _gsocproposals/2025/proposal_Clad-ThrustAPI.md
  _gsocproposals/2025/proposal_ConstellationUI.md
  _gsocproposals/2025/proposal_CppInterop-API-ExposeMemory.md
  _gsocproposals/2025/proposal_GangaAIassistant.md
  _gsocproposals/2025/proposal_GangaDeprecation.md
  _gsocproposals/2025/proposal_Geant4-fastsim_representation.md
  _gsocproposals/2025/proposal_GeneROOT.md
  _gsocproposals/2025/proposal_HGQforCICADA.md
  _gsocproposals/2025/proposal_HSFCondDB_AILogAnalysis.md
  _gsocproposals/2025/proposal_IDD.md
  _gsocproposals/2025/proposal_JuliaHepMC3.md
  _gsocproposals/2025/proposal_MCnetMCviz.md
  _gsocproposals/2025/proposal_MCnetOpenData.md
  _gsocproposals/2025/proposal_RNTupleJsroot.md
  _gsocproposals/2025/proposal_Rucio-webui.md
  _gsocproposals/2025/proposal_SMARTHEP_BEAD.md
  _gsocproposals/2025/proposal_SMARTHEP_GreenSoftware.md
  _gsocproposals/2025/proposal_TMVA-SOFIE-GPU.md
  _gsocproposals/2025/proposal_TMVA-SOFIE-HLS4ML.md
  _gsocproposals/2025/proposal_XeusCpp-Debugging.md
  _gsocproposals/2025/proposal_XeusCpp-Plugins.md
  _layouts/gsoc_proposal.html
  gsoc/2025/mentors.md
Labels: GSoC

#1701 Minor updates to the affiliated project guidelines
  projects/guidelines.md
Labels: Documentation

#1703 Improve project and proposal descriptions of xeus-cpp
  _gsocprojects/2025/project_Xeus-Cpp.md
  _gsocproposals/2025/proposal_XeusCpp-Plugins.md
Labels: GSoC

#1704 Add TMVA SOFIE - Keras Parser Enhancement and JAX integration Project Proposal for GSoC 2025
  .github/config/mdcheck.json
  _gsocproposals/2025/proposal_TMVA-SOFIE-TF_JAX.md
Labels: GSoC

#1708 Add ML4EP project description and new proposals from hls4ml
  _gsocprojects/2025/project_ML4EP.md
  _gsocproposals/2025/proposal_ML4EP_Google_XLS_in_hls4ml.md
  _gsocproposals/2025/proposal_ML4EP_hls4ml_ip_split.md
  _gsocproposals/2025/proposal_TMVA-SOFIE-GPU.md
  _gsocproposals/2025/proposal_TMVA-SOFIE-HLS4ML.md
  _gsocproposals/2025/proposal_TMVA-SOFIE-TF_JAX.md
Labels: GSoC

#1709 Update DESY logo
  _gsocorgs/2019/desy.md
  _gsocorgs/2021/desy.md
  _gsocorgs/2022/desy.md
  _gsocorgs/2024/desy.md
  _gsocorgs/2025/desy.md
  images/DESY_logo.png
Labels: GSoC
